# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://dieuthanhvn1006:GYU3EGorEKFQxBUN@barbershop.w4f4w.mongodb.net/


# Base URL for the API
BASE_API_URL="http://localhost:3000/v1"

# JWT
# JWT secret key
JWT_SECRET=cd6c5fcc76f69fb47fe2fd4825a9b22dab0e9a60cafe90f84a7557034063d8d54035ce64e13f50bb0c6fba1d99a8ba4a3547b2a19000785f0a531687242cc2625a06f3d72757e643fef3a5f164dbbaab7dbee21c782d4dc1bdd77d46fb0a992f555b9bdf8f05a25e5cfcb968b4ec2d0471379dc3c65c63177d0152890e3a3c7b97f3b3f3a6c6dfd1c09f40755a4b8e0c1e21490ceb2bb9a5fa1c22eafdfab66659d0878fd5bf5592efaecdcfc47176ca2665bc5405df456d1833a88389061fbfdac84461a7ee3ceb1167067b63fbf59dff951d2dc259353daf81c5e6b6b8512dadc641e3d8bcdd52d4e80142a615b4f5c85316e7e2123e46f082ca151f0a54c3

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=jany.champlin65@ethereal.email
SMTP_PASSWORD=vGd2qArVb6Fhhn28Mn
EMAIL_FROM=dieuthanhvn1006@gmail.com

# Vapid keys for web push notifications
VAPID_PUBLIC_KEY=BPYmt9Wg5gr8oiEIo0On2-VOoXBg4YvCZUSwEaPqloJAJTHeZN7_q4tghL7wX3tklFxoNramWPSQTLwRmgchSTA
VAPID_PRIVATE_KEY=Up2I-KMKG7DIoIWZRDpoblSxlWDn8evPP3uTN-YAEc4
